venv/*
.env
src/test.py
src/test.ipynb
src/main.py
src/chatgpt.py
__pycache__/
output/steam_app_data_raw.csv
output/steam_app_data.csv
output/steam_app_list.csv
logs/logs.log
keys/airflow-ec2-key.pem
keys/airflow-credentials.txt
src/steam_ETL_dag.py
keys/postgres-credentials.txt
streamlit/app_2.py
datasets/clean/apps_genres.csv
datasets/clean/apps_languages.csv
datasets/clean/apps_tags.csv
datasets/clean/apps.csv
notebooks/EDA.ipynb
keys/ec2-steam-DE-key.pem
