venv/*
.env
__pycache__/
output/steam_app_data_raw.csv
output/steam_app_data.csv
output/steam_app_list.csv
logs/logs.log
keys/*
src/steam_ETL_dag.py
keys/postgres-credentials.txt
streamlit/app_2.py
notebooks/EDA.ipynb
datasets/clean/*
datasets/raw/*
TODO.txt
streamlit/.streamlit/*
